// Основные цвета

$red: #FF3F3FB2;
.red { color: $red !important; }

$green: #41EF3E;
$hover-green: #3ABF38;
$active-green: #195E18;

.green { color: $green !important; }
.hover-green { color: $hover-green !important; }
.active-green { color: $active-green !important; }

$black: #000;

// Оттенки Серого
$grey1: #FFFFFFFA;
$grey2: #F1F1F180;
$grey3: #EBEBF533;

.grey1 { color: $grey1 !important; }
.grey2 { color: $grey2 !important; }
.grey3 { color: $grey3 !important; }

// Background
$bg-primary: #B0AFD224;
$bg-secondary: #B0AFD217;
$back: #060606;
.bg-primary { color: $bg-primary !important; }
.bg-secondary { color: $bg-secondary !important; }
.back { color: $back !important; }

// IXINS
@mixin colors($background, $color) {
    background-color: $background;
    color: $color;
}

@mixin hover_colors($background, $color) {
    &:hover {
        @include colors($background, $color);
    }
}

@mixin active_colors($background, $color) {
    &:active {
        @include colors($background, $color);
    }
}

@mixin disabled_colors($background, $color) {
    &:disabled {
        @include colors($background, $color);
    }
}
