@import "colors";

@font-face {
  font-family: "VelaSans";
  src: url("VelaSans-Bold.woff") format("woff"),
    url("VelaSans-ExtraBold.woff") format("woff"),
    url("VelaSans-ExtraLight.woff") format("woff"),
    url("VelaSans-Light.woff") format("woff"),
    url("VelaSans-Medium.woff") format("woff"),
    url("VelaSans-Regular.woff") format("woff"),
    url("VelaSans-SemiBold.woff") format("woff");
 }

@font-face {
  font-family: "Pixeboy";
  src: url("Pixeboy.woff") format("woff");
}

h1, h2, h3, p, .footnote, .button, a, input,
.h1, .h2, .h3, .p, .a, div {
  font-family: 'VelaSans';
  font-style: normal;
}

h4 {
  font-family: 'Pixeboy';
  font-style: normal;
  font-size: 2.5rem;
}

h1, h2, h3 { font-weight: bold; }
h4 { font-weight: 600; }

p, .footnote, a, .a { color: $grey2; }

a, .a {
  text-decoration: none;
  // &:hover {
  //   // color: $dark;
  // }
}

@mixin font_settings($size, $height) {
  font-size: $size;
  line-height: $height;
}

// // Headers

@mixin h1 { @include font_settings(2.25rem, 2.5rem) }
h1 { @include h1; }
.h1 { @include h1; }

@mixin h2 { @include font_settings(1.375rem, 2rem) }
h2 { @include h2; }
.h2 { @include h2; }

@mixin h3 { @include font_settings(1.1875rem, 1.375rem) }
h3 { @include h3; }
.h3 { @include h3; }

@mixin h4 { @include font_settings(2.5rem, 2.75rem) }
h4 { @include h4; }
.h4 { @include h4; }

// // Paragraphs
@mixin p { @include font_settings(1.125rem, 1.875rem) }
p { @include p; }
.p { @include p; }

// // tags
.footnote { @include font_settings(0.875rem, 1.25rem) }

@mixin button_font { @include font_settings(0.9375rem, 1.3125rem) }
.button { @include button_font }

// // Buttons
@mixin l_button_font { @include font_settings(1.25rem, 1.5rem) }
@mixin s_button_font { @include font_settings(0.9375rem, 1.3125rem) }
// @mixin m_button_font { @include font_settings(18px, 24px) }
// @mixin s_button_font { @include font_settings(16px, 16px) }
