@import "colors";
@import "fonts";
@import "constants";

$footer-height: 6.75rem;

.footer {
  margin-top: 4rem;
  height: $footer-height;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $bg-secondary;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  p:first-child {
    margin-left: $side-margin;
  }

  .info {
    margin-right: $side-margin;
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
}
