@import "colors";
@import "fonts";
@import "constants";

@mixin default_input($padding-h, $padding-w) {
  @include button_font;
  @include border-radius;

  display: inline-block;
  box-sizing: border-box;
  background-color: $back;

  height: 2.5rem;
  padding: $padding-h $padding-w;

  border: 2px solid $bg-primary;
  color: $bg-primary;

  width: 16rem;

  ::placeholder { color: $grey2; }
}

// INPUT

.input {
  @include default_input(0.5rem, 0.75rem);
}

textarea {
  @include default_input(0.5rem, 0.75rem);
  resize: none;
  overflow: hidden;
  width: 20rem;
  min-height: 6rem;
}

// SEARCH

.menu_search {
  .search_input { @include default_input(0.75rem, 2.5rem); }
  .search {
    position: absolute;
    opacity: 50%;
    margin: 0.6rem 0.75rem;
  }
}

// CHECK BOX
.check_box {
  display: inline-flex;
}

.box {
  margin: 0;
  appearance: none;

  @include square(1.5rem);
  @include hover-cursor;
  background-color: transparent;
  border: 2px solid $green;
  border-radius: 0.5rem;


  &:checked {
    background-color: $green;
    border: none;
    padding: 0.25rem;
    content: url("checkbox.svg");

    @include hover-cursor;
  }
}

.post_types {
  display: flex;
  flex-direction: row;
}

.post_type {
  display: flex;
  flex-direction: column;
}

.post_card_info {
  display: flex;
  flex-direction: column;
  background-color: $bg-primary;
}

.post_card_input {
  display: flex;
  flex-direction: column;
  background-color: $bg-secondary;
}

// IMAGE UPLOADER

// .image_uploader {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   width: 424px;
//   height: 124px;
//   border-radius: 8px;
//   border: 1px dashed $light_orange;
//
//   .photos {
//     width: 44px;
//     height: 44px;
//     border: 1px solid $light_orange;
//     border-radius: 50%;
//   }
//
//   .file_field {
//     position: absolute;
//     cursor: pointer;
//     width: inherit;
//     height: inherit;
//     opacity: 0;
//   }
// }

// .avatar_uploader {
//   display: flex;
//   align-items: center;
//   margin: 40px 0;
//   .avatar {
//     width: 80px;
//     height: 80px;
//     background-color: $light_orange;
//     border-radius: 50%;
//     &:hover {
//       background-color: $middle_orange;
//       cursor: pointer;
//     }
//   }
// }

// autocomplete

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: $bg-secondary;
  -webkit-text-fill-color: $grey1;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
