@import "colors";
@import "constants";

.device {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem 1.75rem;

  min-height: 14rem;
  height: fit-content;
  width: calc(23.5rem - 2rem - 2rem);
  background-color: $bg-secondary;
  border-radius: 1rem;
  > * {
    width: 20rem;
  }
}
