@import "colors";
@import "fonts";
@import "atoms";
@import "constants";

$menubar-top: 0.5rem;

$menubar-width: calc(100vw - #{$side-margin} - #{$side-margin});
$menubar-height: 5rem;

@mixin menu-paddings {
    padding-top: $menubar-top;
    padding-left: $side-margin;
    padding-right: $side-margin;
}

.menu-logo {
  background-color: blue;
  width: 40px;
  height: 40px;
}

.menubar {
  top:0px;
  width: $menubar-width;
  height: $menubar-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
  @include menu-paddings;

//   .logo {
//     display: block;
//     background-image: url("logo.svg");
//     background-size: cover;
//     width: 92px;
//     height: 20px;
//     margin-top: -8px;
//   }

  .menu_items_left,
  .menu_items_right {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .menu_items_left {}
  .menu_items_right {}
}
