.fit-content {
    width: fit-content;
}

$size-tiny: 0.125rem;
$size-xxxs: 0.25rem;
$size-xxs: 0.5rem;
$size-xs: 0.75rem; // 12px
$size-s: 1rem; // 16px
$size-m: 1.25rem;
$size-l: 1.5rem;
$size-xl: 2rem;
$size-xxl: 3rem;
$size-xxxl: 20rem; // 320px
$size-xxxxl: 22.5rem; // 360px
$size-huge: 23.25rem;
$size-very-huge: 38rem; // 608px

.width-tiny { width: $size-tiny; }
.width-xxxs { width: $size-xxxs; }
.width-xxs { width: $size-xxs; }
.width-xs { width: $size-xs; }
.width-s { width: $size-s; }
.width-m { width: $size-m; }
.width-l { width: $size-l; }
.width-xl { width: $size-xl; }
.width-xxl { width: $size-xxl; }
.width-xxxl { width: $size-xxxl; }
.width-xxxxl { width: $size-xxxxl; }
.width-huge { width: $size-huge; }
.width-very-huge { width: $size-very-huge; }

.height-tiny { height: $size-tiny; }
.height-xxxs { height: $size-xxxs; }
.height-xxs { height: $size-xxs; }
.height-xs { height: $size-xs; }
.height-s { height: $size-s; }
.height-m { height: $size-m; }
.height-l { height: $size-l; }
.height-xl { height: $size-xl; }
.height-xxl { height: $size-xxl; }
.height-xxxl { height: $size-xxxl; }
.height-huge { height: $size-huge; }